.DS_Store

/componentVersions/
/eval/
/fileTemplates/
/filetypes/
/inspection/
/quicklists/
/rubystubs/
/tasks/
/tools/
/jdbc-drivers/

options/*
!options/ui.lnf.xml
!options/editor.codeinsight.xml
!options/options.xml

port
rubymine50.key
rubymine40.key
rubymine30.key


# Ignore other unneeded files
*~
\#*

