.DS_Store

/componentVersions
/eval
/fileTemplates
/filetypes
/inspection
/quicklists
/rubystubs
/tasks
/tools

/options/*
!/options/ui.lnf.xml

port
rubymine40.key
rubymine30.key


# Ignore other unneeded files
*~
\#*

